html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: 'Crimson Text', serif;
}

.img-parallaxed {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/candys.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.cabecalho {
    height: 8vh;
    width: 100vw;
    background-color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
}

.logo :hover {
    animation: none;
}

.triang {
    position: relative;
    height: 40px;
    left: 10px;
    animation: vibration 1s ease-in infinite;
}

.header-content{
    width: 40%;
    position: relative;
    left: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-content a {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    color: #000;
}

.header-content a :hover{
    color: #C10016;
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 100px;
    font-style: italic;
    font-family: 'Crimson Text', serif;
    color: #fff;
}

.description {
    font-size: 35px;
    margin-top: -5%;
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-weight: 600;
    color: #fff;
    transition: 1s linear ease-in-out;
}

.riscado {
    text-decoration: line-through;
}

.about {
    width: 100vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #eaeaea;
}

.estatua {
    width: 50%;
}

.paragraph {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
    font-style: italic;
}

#contacts {
    width: 100vw;
    height: 50vh;
}

.speak {
    text-align: center;
    font-size: 60px;
    font-family: 'Crimson Text', serif;
    color: #000;
    margin: 0;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: solid 1px #eaeaea;
}

.contacts img {
    margin-top: 20px;
    height: 40px;
}

.contacts a:hover{
    animation: vibration 1s ease-in infinite;
}

@keyframes vibration {
    0% { 
        transform: rotate(0);
    } 20% {
        transform: rotate(10deg);
    } 40% {
        transform: rotate(-10deg);
    } 60% {
        transform: rotate(10deg);
    } 80% {
        transform: rotate(-10deg);
    } 100% {
        transform: rotate(0);
    }
}

.email {
    text-align: center;
    font-size: 15px;
    font-family: 'Julius Sans One', sans-serif;
    font-style: italic;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
h3 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 0;
    color: #eaeaea;
}

form {
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
    border: solid 1px #eaeaea;

}

form .input-block {
    margin-bottom: 20px;
}

form .input-block label {
    font-size: 14px;
    color: #C10016;
}

form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #C10016;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #C10016;
}

form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #C10016;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
}

@media only screen and (max-width: 600px) {
    .header-content{
        display: none;
    }

    .about {
        flex-direction: column;
    }

    .estatua {
        width: 100%;
    }

    .paragraph {
        width: 90%;
    }

    .contacts {
        flex-direction: column;
    }

    .speak {
        margin: 0;
    }

    .contacts img {
        height: 50px;
        margin-top: 20px;
    }
}

.placeholder {
    width: 100vw;
    height: 100vh;
    background-color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 70px;
    font-family: 'Julius Sans One', sans-serif;
}