:root {
  --purplePoison: #483698;
  --blackCat: #000;
  --snowWhite: #fff;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}

li {
  margin-bottom: 1%;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-bottom: solid 3px var(--blackCat);
}

h1 {
  text-align: center;
  font-size: 4em;
  margin: 10vh;
}

main {
  width: 100%;
  height: 100vh;
  border-bottom: solid 3px var(--blackCat);
  box-sizing: border-box;
  padding: 5vh 10vw;
}

.main-content {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-content .bigger {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.main-content .resumo {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content .bigger ul {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: inside;
}

.main-content .bigger ul li {
  margin: .5vh 0;
}

h2 {
  font-size: 30px;
  margin-bottom: 1vh;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: .5vh;
  margin-top: 1vh;
}

p {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 1vh;
}

a {
  text-decoration: none;
  color: var(--purplePoison);
}

a button {
  background-color: var(--blackCat);
  border-radius: 20px;
  color: var(--snowWhite);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  height: 5vh;
  margin-top: 2vh;
  width: 15vw;
}

@media screen and (max-width: 600px) {

  main {
    height: 200vh;
  }

  .main-content {
    flex-wrap: nowrap;
    width: 100%;
  }

  .main-content .bigger {
    height: 15%;
    margin-bottom: 1vh;
  }

  h1 {
    font-size: 3em;
  }

  a button {
    width: 40vw;
    height: 6vh;
    margin-bottom: 5vw;
  }
}
