:root {
  --position-top: 10%;
}

.first {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300%;
  background-image: url(../assets/first/circle_blue.svg),
    url(../assets/first/circle_green.svg),
    url(../assets/first/circle_marine.svg),
    url(../assets/first/cross_orange.svg), url(../assets/first/line_red.svg),
    url(../assets/first/line_yellow.svg);
  background-position: 50% 2%, 30% 90%, 90% 75%, 85% 40%, 20% 55%, 90% 15%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 6%;
  z-index: 0;
}

.second {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300%;
  background-image: url(../assets/second/cross_green.svg),
    url(../assets/second/circle_orange.svg),
    url(../assets/second/cross_marine.svg), url(../assets/second/cross_red.svg),
    url(../assets/second/line_blue.svg);
  background-position: 20% 20%, 10% 0%, 75% 38%, 80% 30%, 60% 60%;
  background-repeat: no-repeat;
  background-size: 4%;
  filter: blur(2px);
  z-index: 0;
}

.third {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300%;
  background-image: url(../assets/third/circle_red.svg),
    url(../assets/third/circle_yellow.svg), url(../assets/third/cross_blue.svg),
    url(../assets/third/cross_yellow.svg), url(../assets/third/line_orange.svg),
    url(../assets/third/line_pink.svg);
  background-position: 30% 30%, 70% 60%, 60% 92%, 5% 30%, 5% 65%, 98% 70%;
  background-repeat: no-repeat;
  background-size: 2%;
  filter: blur(3px);
  z-index: 0;
}

@media only screen and (max-width: 600px) {
  .first {
    background-size: 12%;
  }

  .second {
    background-size: 10%;
  }

  .third {
    background-size: 8%;
  }
}
