h1 {
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  font-size: 7rem;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-family: PT Mono, monospace;
  font-size: 1.5rem;
  text-align: justify;
}

.typewritter {
  font-family: PT Mono, monospace;
  font-size: 1.5rem;
}

nav {
  margin-top: 70px;
}

nav a {
  margin-left: 15px;
  background: #e1e1e6;
  padding: 10px 15px;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: #100e1a;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 3px 3px 0px #9e9ea1;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

nav a:hover {
  background: #6633cc;
  box-shadow: 3px 3px 0px #4c2699;
  color: #f6f6f6;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #9e9ea1;
  font-size: 0.8rem;
  font-family: PT Mono, monospace;
  padding: 0 10px 20px 10px;
}

footer p {
  font-size: 0.8rem;
  margin-bottom: 10px;
  line-height: 0.8rem;
  text-align: center;
}

.typed::after {
  content: "|";
  transition: ease-in-out 0.3s;
  opacity: 1;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.green-text {
  color: #4dab60;
}

.orange-text {
  color: #e89e64;
}

.blue-text {
  color: #5d98f9;
  font-weight: bold;
  text-decoration: none;
}

.red {
  background: #e96379;
}

.yellow {
  background: #e7de79;
}

.green {
  background: #4dab60;
}

.container-centered {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.half-container {
  position: relative;
  background: #252131;
  color: #f6f6f6;
  padding: 50px 70px 70px 75px;
  font-size: 1.5rem;
}

.fake-buttons {
  position: absolute;
  top: 15px;
  left: 15px;
}

.buttons {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  flex-wrap: wrap;
}

.card {
  padding: 10px 15px;
  margin: 25px 15px 0 0;
  background: #e1e1e6;
  padding: 5px 10px;
  font-family: Roboto, sans-serif;
  color: #100e1a;
  box-shadow: 5px 5px 0px #9e9ea1;
  width: 110px;
  height: 100px;
}

.card-black {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
  padding: 10px 15px;
  margin: 15px 15px 0 0;
  background: #252131;
  padding: 5px 10px;
  font-family: Roboto, sans-serif;
  color: #f6f6f6;
  box-shadow: 8px 8px 0px #13111b;
  width: 60%;
  height: 382px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msn {
  background: #514d5a;
  border-radius: 10px;
  width: 90%;
  height: 80%;
}

.fake-header {
  position: relative;
  background: #f6f6f6;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 15%;
}

.msn-body {
  width: 100%;
  padding: 10px 20px;
}

.message {
  background: #ff79c6;
  border-radius: 10px 10px 10px 0;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  margin-top: 10px;
}

.message-rounded {
  background: #fd92d0;
  border-radius: 10px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  margin-top: 10px;
}

.message img,
.message-rounded img {
  zoom: 0.6;
}

#about {
  z-index: 10;
}

#contact {
  height: 110vh;
}

@media only screen and (max-width: 600px) {
  .half-container {
    width: 90%;
    padding: 50px 40px 70px 40px;
  }

  .card-black {
    width: 100%;
    top: 62%;
  }

  #contact {
    height: 80vh;
  }

  footer,
  footer p {
    font-size: 0.6rem;
  }
}
