* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  min-height: 100%;
  width: 100vw !important;
}
body {
  color: #100e1a;
  -webkit-font-smoothing: antialiased !important;
}
body,
input,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
